body {
    margin: 0;
    font-family: Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
}

#game-container {
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    font-size: 24px;
}

p {
    margin-bottom: 20px;
    font-size: 18px;
}

#game-section {
    position: relative;
}

#gameCanvas {
    border: 2px solid #000;
    background-color: #fff;
    display: block;
}

#controls {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
}

/* Mobile styles */
@media (max-width: 768px) {
    canvas {
        width: 100%;
        height: auto;
    }
    
    #fastForwardBtn, #restartBtn, #restartLevelBtn {
        font-size: 18px;  /* Larger button text for mobile */
        padding: 10px 20px;  /* More padding for easier clicks */
    }

    .end-message {
        font-size: 22px;  /* Increase font size for mobile */
    }
}
/* Mobile styles */
@media (max-width: 768px) {
    canvas {
        width: 100%;
        height: auto;
    }

    #fastForwardBtn, #restartBtn, #restartLevelBtn {
        font-size: 18px;  /* Larger button text for mobile */
        padding: 10px 20px;  /* More padding for easier taps */
    }

    .end-message {
        font-size: 22px;  /* Increase font size for mobile */
    }
}