body {
    margin: 0;
    font-family: Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
}

#game-container {
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    font-size: 24px;
}

p {
    margin-bottom: 20px;
    font-size: 18px;
}

#game-section {
    position: relative;
}

#gameCanvas {
    border: 2px solid #000;
    background-color: #fff;
    display: block;
}

#controls {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    canvas {
        width: 100vw; /* Full viewport width */
        height: 80vh; /* Full viewport height */
        border: none; /* Optional: Remove borders on mobile for a cleaner look */
    }

    #fastForwardBtn, #restartBtn, #restartLevelBtn {
        font-size: 18px;
        padding: 12px 24px; /* Slightly larger padding for touch-friendly buttons */
    }

    .end-message {
        font-size: 22px;
        text-align: center;
    }
}